$btn-primary: #1e87f0;
$btn-danger: #d32f2f;

@function hexRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin btn-color($color) {
  --color: #{$color};
  --color-rgb: #{red($color), green($color), blue($color)};
  background-color: $color;
  &:hover {
    background-color: darken($color, 5%);
  }
  &::selection {
    background-color: darken($color, 8%);
  }
  &:active {
    background-color: darken($color, 10%);
  }
}


button {
  @include btn-color($btn-primary);
  appearance: none;
  text-decoration: none;
  text-align: center;
  color: #fff;
  cursor: pointer;

  margin-top: 2px;
  margin-bottom: 2px;

  border: 1px solid transparent;
  transition: .1s ease-in-out;
  /*text-transform: uppercase;*/
}

button:active {
  transform: scale(0.99);
}

.btn-danger {
  $color: $btn-danger;
  @include btn-color($btn-danger);
}


.btn-text {
  color: var(--color);
  background-color: rgba(var(--color-rgb), 0);
  border: 0;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(var(--color-rgb), .1);
  }
  &:focus {
    outline: none;
    background-color: rgba(var(--color-rgb), .1);
  }
  &::selection {
    background-color: rgba(var(--color-rgb), .2);
    border: 0;

  }

  &:active {
    border: 0;

    background-color: rgba(var(--color-rgb), .3);
  }


}
.btn-outlined {
}