body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: whitesmoke;
}
hr {
    display: block;
    margin: 0.5em auto;
    border-style: inset;
    border-width: 1px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.flex-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-header {
    /*background: #1976d2;*/
    /*color: white;*/
    font-weight: bold;
}

.mission-row, .mission-header{
    /*padding: 12px;*/
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
    justify-content: space-between;
}

.mission-main-image{
    max-height: 150px;
}

.mission-row{
    border-width: 0 0 1px 0;
    border-bottom-color: slategray;
    border-style: solid;
}

.flex-filler {
    flex-grow: 100;
}

.text-no-wrap {
    white-space: nowrap;
}

.card {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 8px;
    background: white;
}

.card-img{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background: lightgrey;
}

.card-content, .card-header, .card-footer{
    padding: 16px;
}

.card-title {
    font-size: 1.2em;
}

.card-size-medium {
    max-width: 500px;
    width: 100%;
}



/*Builder*/
#newMissions {
    padding: 8px;
}
.builder-part-row {
    border-width: 1px 0 0 0;
    border-bottom-color: slategray;
    border-style: solid;
}